/Adress
/GGS_download
/Site_reports
/GGS_download_corrections
/GGS_KORA
/GGS_KORA_all
/GGS_KORA_tecton_new
/Site_reports
KORA_all (MapServer)_названия.html
testtt.json
KORA_all (MapServer)_названия.txt